label
{
    text-align: center;
}
table
{
    text-align: center;
}
th
{
    text-align: center;
}
.img-wait
{
    display: none;
    max-height: 35px;
    color:green;
}
.wrap2
{
    background-color:rgba(0,0,0,0.85);
    padding-bottom: 80px;
    color:white;
}
.btnRotador
{
    transform: rotate(360deg);
}
.headerCargaJugadas
{
    font-family: 'Arial', cursive;
    font-size: 36px;
    padding:12px;
}
#btnComenzar
{
    font-family: 'Arial', cursive;
    font-size: 36px;
    padding:12px;
    height: 70px;
    
    transition: 1s;
}
#btnComenzar:hover
{
    //transform: scale(1.15);
   /* background-color: yellow;*/
    box-shadow: inset -10px -10px 50px limegreen;
   //transition: 1s;
}
#btnResetear
{
    font-family: 'Arial';
    font-size: 36px;
    padding:12px;
    height: 70px;
    
    transition: 1s;
}
#btnResetear:hover
{
    //transform: scale(1.15);
   /* background-color: yellow;*/
    box-shadow: inset -10px -10px 50px #EC971F;
   //transition: 1s;
}