
body
{
    background-color:#9B3C52;
}
#contenedor
{
    position: absolute;
    top:0px;
    bottom: 0px;
    left:0px;
    right: 0px;
    /*background-color:#fae596;*/
    background-color:#9B3C52;
    /*background-color:#4CAF50;*/
    height: 100%;
    /*border:solid 2px black;*/
    width: 100%;
    box-sizing: border-box;

}

.listas
{
    /*border:solid 2px black;*/
}
.ind-num-ambos
{
    font-size: 56px;
    display: inline-block;
    font-family: 'Orbitron', sans-serif; 
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    padding-top:25px;
    height: 100%;
    position: relative;
    top:0px;
}
.indice
{
    
    background-color:#173e43;
    color:white;
   // width: 25%;
    
}
.numeroTotal
{
    //font-family: 'Orbitron', sans-serif;
    //border: solid 2px yellow;
    background-color:white;
    //width: 70%;

    
}
.digito
{
    /*display: inline-block;
    font-size: 72px;
    text-align: center;
    border:solid 2px black;*/
}



.hx
{

    display: inline-block;
    background-color:rgba(255,255,255,0.85);
    font-size: 48px;
    text-align: center;
}


.hs
{
    font-family: 'Bangers', cursive;
    font-size: 24px;
    text-align: center;
}
.headerSorteo
{
    font-family: 'Bangers', cursive;
    font-size: 36px;
    text-align: center;
    background-color:rgba(255,255,255,0.85);
}